.CategoryListComponent{
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    //background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}