
.loginPage{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.loginPageContainer{
    margin-top: 25px;
   //border: 3px solid green;
    width: 45%;
    height: 60%;
    //border: 2px solid purple;

    display: grid;
    grid-template-rows: 2fr 4fr;

    .loginFormWrapper{
        //background-color: blue;
    }

    .userLogo{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        div{
            font-size:x-large;
        }

        img{
            width: 23%;
            height: 55%;
        }
    }
}

.loginForm{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    form{
        display: flex;
        /*justify-content: center;*/
        flex-direction: column;
        align-items: center;
        //background-color: aqua;
        width: 90%;
        height: 100%;

        p{
            margin-top: 12px;
            span{
                color: purple;
                font-weight: bold;
            }
        }

        .formButtonWrapper{
            display: flex;
            justify-content: center;
            background-color: purple;
            width: 95%;
            height: 7%;
            border-radius: 9px;
            margin-top: 5%;
            color: white;
        }

        .formInput{
            margin-top:9px;
            width: 95%;
            display: grid;
            grid-template-columns: 1fr 12fr;
            //grid-template-rows: 2fr;
            height: 7%;
            border: 1.2px solid grey;
            border-radius: 9px;

            input{
                //background-color: blueviolet;
                //border: 2px solid black;
                border-radius: 9px;
            }

            input::placeholder{
                position: absolute;
                left: 2%;
            }

            img{
                //background-color: red;
                margin-left: 6px;
                margin-top: 4px;
                display: flex;
                width: 85%;
                height: 82%;
            }
        }

    }
}

